 <%= render 'shared/banner' %>
<div class="container">
  <h1>Welcome, <%= @user.first_name.capitalize %>!</h1>
  <div class="row justify-content-center pt-3 robot">
    <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_9czxyepk.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <div class="btn heart"> <%= link_to "Start Quiz", quiz_results_new_path(@quiz_id) %></div>
  </div>

  <div class="linkbox row mt-4 justify-content-around">

    <%= link_to  rewards_user_path(current_user), class: "mini-card heart col-4" do %>
        <%= image_tag("quiz_link_badge.png", class:"homepglink") %> 
        <p>Badges</p>
    <% end %>


    <%= link_to  leaderboard_path(current_user.company), class: "mini-card heart col-4" do %>
        <%= image_tag("quiz_link_leader.png", class:"homepglink") %> 
        <p>Rank</p>
    <% end %>

  </div>
</div>
<!-- #F9BC11 -->
<%# <div class="btn mb-4" style="background-color: #25c1a9; color: white; font-size: 20px">
  <p><strong>Good Work!</strong></p><p>You don't have any quizzes right now.</p> %>

<!-- class="col-3" -->

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

