<%= render 'shared/banner' %>
<div class="container">
  <h1 class="rewards-header">Rewards</h1>

  <%# <% column-1 = (current_points/(current_points+max_available_points)*12 %>
  <%# <% column-2 = (max_available_points/(current_points+max_available_points)*12 %>
  <div class="points-bar" style="height: 60px; width: 300px; margin: 0 auto; display: flex">
    <div class="current-points">
      <p>Current Points </p>
      <p><strong><%= @current_points %></strong></p>
    </div>
     <div class="possible-points" style="width: <%= @div_points %>%">
        <p>Points Available </p>
        <p><strong><%= @remaining_points %></strong></p>
      </div>
  </div>
    <div class="points-you-can-earn">
      <h1 class="rewards-header">With 3,000 points you could earn...</h1>
    </div>
    <div class="row prizes-box">
      <div class="col-6">
        <%= image_tag("coffee.png", class: "reward-img") %>
      </div>
      <div class="col-6">
        <%= image_tag("donut.png", class: "reward-img") %>
      </div>
      <div class="col-6 pt-4">
       <%= image_tag("beer.png", class: "reward-img") %>
     </div>
     <div class="col-6 pt-4">
      <%= image_tag("hammer.png", class: "reward-img") %>
    </div>
    <div class="btn reward-btn"> <%= link_to "Home", home_path %></div>
  </div>

<%# user: <%= @user.first_name %>
<%# current_points: <%= @current_points %>
<%# current_possible_points: <%= @current_possible_points %>
<%# remaining_points: <%= @remaining_points %>
<%# div_points: <%= @div_points %>

</div>

