
<style>

</style>

<%= render 'shared/banner' %>
<div class="container rewards-container">
  <h1 class="rewards-header">Rewards</h1>


  <div class="points-bar mt-1">
    <div class="current-points justify-content-center" style="width: <%= 100 - @div_points %>%"> <!--This div will take remaining width of possible points -->
      <h4 class="pt-2"><strong><%= @current_points %></strong></h4>
    </div>

     <div class="possible-points justify-content-center" style="width: <%= @div_points %>%">
        <h4 class="remaining pt-2"><strong><%= @remaining_points %></strong></h4>
      </div>
  </div>

  <div class="points-text d-flex ">
    <p class="c_point mt-2">Current Points</p>
    <p class="avail_point mt-2">Points Available</p>
  </div>
    <div class="points-you-can-earn">
      <h1 class="rewards-header-2">With 3,000 points you could earn...</h1>
    </div>

    <div class="row prizes-box">
      <div class="col-6">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <%= image_tag("coffee.png", class: "reward-img wiggle") %>
          <h6>$50 Coffee Voucher</h6>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <%= image_tag("donut.png", class: "reward-img wiggle") %>
          <h6>1 Box of Dunkin' Donuts</h6>
        </div>
      </div>
      <div class="col-6 pt-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <%= image_tag("beer.png", class: "reward-img wiggle") %>
          <h6>1 Case of Bud Light</h6>
        </div>
      </div>
      <div class="col-6 pt-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <%= image_tag("hammer.png", class: "reward-img wiggle") %>
            <h6>$50 Hardware Voucher</h6>
          </div>
      </div>
    </div>

    <div class="btn reward-btn"> <%= link_to "Next", finished_path %></div>
    <button class="btn btn-block home-rewards text-center"> <%= link_to "Home >>", home_path, class: "home-rewards" %></button>

  </div>

<%# user: <%= @user.first_name %>
<%# current_points: <%= @current_points %>
<%# current_possible_points: <%= @current_possible_points %>
<%# remaining_points: <%= @remaining_points %>
<%# div_points: <%= @div_points %>
