<%= render 'shared/banner' %>
<div class="container">
  <h1 class="rewards-header">Prizes</h1>

  <%# <% column-1 = (current_points/(current_points+max_available_points)*12 %>
  <%# <% column-2 = (max_available_points/(current_points+max_available_points)*12 %>
  <div class="points-bar" style="height: 60px; width: 300px; margin: 0 auto; display: flex">
    <div class="current-points" style="width: <%=40%>%">
      <p>Current Points <%=@current_points%></p>
    </div>
     <div class="possible-points" style="width: <%=100 - 40%>%">
        <p>Possible Points 300<%=@remaining_points%></p>
      </div>
  </div>
    <div class="points-you-can-earn">
      <h1 class="rewards-header">With 3,000 points you could earn...</h1>
    </div>
    <div class="reward-pics">
      <%= image_tag("coffee.png") %>
      <%= image_tag("donut.png") %>
      <%= image_tag("beer.png") %>
      <%= image_tag("hammer.png") %>
  </div>
</div>

