
<%= render 'shared/banner' %>

<div class='container'>

<h1>Stats</h1>

  <div class="yellow-bg row">
    <div class="col-12">
    <div class="row justify-content-center align-middle">
      <div class="item col-8">
          <div class="subject-text">
            <h5 class="stats-p">Your Strongest Subject</h5>
            <p>Pre-Inspection</p>
          </div>
      </div>
      <div class="bubble bub-green col-3 mt-3 ">
           <h4 style="padding-top: 4px; padding-left: 4px">92%</h4>
      </div>
    </div>
    </div>


    <div class="col-12">
      <div class="row justify-content-center align-middle">
      <div class="item col-8">
          <div class="subject-text">
            <h5 class="stats-p">Your Weakest Subject</h5>
            <p>Fatigue Training</p>
          </div>
      </div>
        <div class="bubble bub-red col-3 mt-3">
            <h4 style="padding-top: 6px; padding-left: 4px">70%</h4>
       </div>
    </div>
    </div>
  </div>

  <div class="flex-percentage">
    <div class="percent-group d-flex flex-column align-items-center">
      <h5 class="text-center mt-2">Correct answer rate this quarter</h5>
      <div class="percentage">
        <h2><%= @percent_correct %>%</h2>
     </div>
    </div>
    <div class="percent-group d-flex flex-column align-items-center">
      <h5 class="text-center">Quiz completion rate this quarter</h5>
      <div class="percentage">
        <h2><%= @percent_complete %>%</h2>
      </div>
    </div>
  </div>
  <div class="butt_leader"><%= link_to "Leaderboard", leaderboard_path, class:"btn btn-large btn-block" %></div>
</div>

<%# Your user instance variables %>
<%#
@user
@percent_correct
@percent_incorrect
@percent_complete
%>
<!-- <%= @percent_correct %> -->
<!-- <%= @percent_complete %>  -->



