<%= render 'shared/banner' %>

<h1>Results</h1>

<div class="container stats-box">
  <div class="row justify-content-center">

    <div class="col-6 p-1">
      <div class="result_item">
        <h2>Your Rank</h2>
        <span>1st</span>
      </div>
    </div>

    <div class="col-6 p-1">
      <div class="result_item">
        <h2>Team Rank</h2>
        <span>2nd</span>
      </div>
    </div>

    <div class="col-6 p-1">
      <div class="result_item">
        <h2>Points Today</h2>
        <span><%= @points_today %></span>
      </div>
    </div>

    <div class="col-6 p-1">
      <div class="result_item">
        <h2>Week</h2>
        <span>8 of 12</span>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-3">
         <h3>Correct Answers This Quiz</h3>
          <div class="bubble result-bubble">
            <h1><%= @quiz_results.last.score %>/<%= @quiz_results.last.possible_score %></h1>
          </div>
        </div>
  </div>
 
 

<div class="stats-button">
  <%= link_to "See My Statistics", stats_user_path(@user), class: "btn btn-block next-button"%>
</div>


todays quiz : <%= @todays_quiz.score %>
quiz_results : <%= @quiz_results.count %>
user : <%= @user.first_name %>
