

<%= render 'shared/banner' %>
  <div class="container">
  <h1 class="today-quiz">Take The Incident Minimizer Quiz</h1>

    <div class="robot-image question row justify-content-center"><%= image_tag("robot_question.gif", class:"robot-gif robot")%></div>
    <div class="robot-image say_yes d-none row justify-content-center"><%= image_tag("say_yes.gif", class:"robot-gif robot")%></div>
    <div class="robot-image say_no d-none row justify-content-center"><%= image_tag("say_no.gif", class:"robot-gif robot")%></div>


  <div class="question-answers">
    <% @minimizer_quiz.questions.each_with_index do |question, index| %>
      <div class="question-success <%= "d-none" if index != 0 %>" >

        <div class="content mb-4">
          <p class="py-3 pl-3"><%= question.content %></p>
          <div class="q-message correct-message d-none"><p style="background-color: rgba(32, 199, 79, 0.6);border-radius: 8px; color: white; box-shadow: 3px 5px 3px grey; text-align: center">That's correct!</p></div>
          <div class="q-message incorrect-message d-none"><p style="background-color: #CC3F36;border-radius: 8px; color: white; box-shadow: 3px 5px 3px grey; text-align: center">Sorry, that's not correct.</p></div>
        </div>

        <div class="modal fade" id="explanation-modal-<%= question.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Explanation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="explanation-backround">
                <div class="modal-body">
                  <iframe  src="https://www.youtube.com/embed/JkO84--N9Ew"
                  frameborder="0" class="video" allow="autoplay" allowfullscreen>
                  </iframe>
                  <p><%= question.explanation %></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="answers">
          <div class="answer-box">
            <% question.answers.each do |answer| %>
              <div class="answer-item py-2 pl-4 pr-1" id="<%= "correct-answer" if  answer.is_correct%>">
                <label class="answer-content" for="question-<%= question.id %>-answer-<%= answer.id %>"><%= answer.content %></label>
                <input type="radio" name="question-<%= question.id %>" value="<%= answer.is_correct %>" id="question-<%= question.id %>-answer-<%= answer.id %>" />
              </div>
            <% end %>
          </div>
        </div>

        <div class="actions">

          <button class="btn minimizer-submit-button">Submit</button>
          <% if question == @minimizer_quiz.questions.last %>
          <button class="btn finish-minimizer d-none"> <%= link_to 'Finish', thankyou_path(current_user) %> </button>
          <% else %>
          <button class="btn minimizer-next-button d-none">Next Question</button>
          <% end %>
          <button id="video" class="btn btn-block show-explanation text-center d-none" data-toggle="modal" data-target="#explanation-modal-<%= question.id %>">Show Explanation >></button>
        </div>

      </div>
    <% end %>
  <%= javascript_pack_tag 'minimizer_question_answer' %>
  </div>
</div>


<!-- <script>
// const managerSubmitBtn = document.querySelector('.manager-submit');
// let mgrSubmitSound = new Audio ('https://res.cloudinary.com/duj93wpnu/video/upload/v1606924040/Fast-cinematic-whoosh-sound-effect_loc8og.mp3');

// managerSubmitBtn.addEventListener("click", (event) =>{
//   mgrSubmitSound.play();
// });

</script>

 -->













