<%= render 'shared/banner' %>

<h1>Take Today's Quiz</h1>

<div>
  <%= image_tag("animation_300_khxvp3bt.gif") %>
</div>

<% @quiz.questions.each_with_index do |question, index| %>

  <div class="question success <%= "d-none" if index != 0 %>" >
    <div class="content">
      <p><%= question.content %></p>
    </div>
    <div class="answers">
      <ul>
      <% question.answers.each do |answer| %>
        <li>
          <label for="question-<%= question.id %>-answer-<%= answer.id %>"><%= answer.content %></label> 
          <input type="radio" name="question-<%= question.id %>" value="<%= answer.is_correct %>" id="question-<%= question.id %>-answer-<%= answer.id %>" />
        </li>
      <% end %>
      </ul>
    </div>
    <div class="actions">
      <button class="submit-button">Submit</button>
      <button style="display: none;">Continue</button>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'question_answer' %>