<%= render 'shared/banner' %>

<h1>Leaderboard</h1>

<!-- div class="container">
  <div class="cta-buttons">
  <a href="#" target="_blank" class="individual btn outline">
    <span class="unskew">Indivudual Rank</span>
  </a>&nbsp;
  <a href="#" target="_blank" class="team btn outline">
    <span class="unskew">Team Rank</span>
  </a>
</div>
</div> -->
<div class="container individual-team-choice">
  <div class="row justify-content-center text-center align-center ">
    <div class="col individual">
      <span class="individual-text bolder">Individual Rank</span>
    </div>
    <div class="col team">
      <span class="team-text gray-out">Team Rank</span>
    </div>
  </div>
</div>

<div class="container">
<div class="row header">
  <div class="header-row col-12 pt-3"> <span class="pr-2 header-row">Rank</span> <span class="header-row pl-2">Name </span> <span class="header-row" style="float:right;"> Points</span></div>
</div>

  <div class="row whole-list">
    <!-- THIS PRINTS EVERY DRIVER IN THE DB- NOT JUST THE TOP 10 -->
      <% @drivers.first(10).each_with_index do |driver, index| %>
          <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bolder"> <%= index + 1 %></span><span class="pl-4 name"><%= driver[:name]%></span> <span class="header-row" style="float:right;"> <%= driver[:points]%></span> </div>
      <% end %>
  </div>

    <div class="row team-list d-none">
      <!-- FAKE LIST -->
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 1</span><span class="pl-3 name"> Hess Oil </span> <span class="team-points" style="float:right; "> 19800 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 2</span><span class="pl-3 name"> The Trucking Co. </span> <span class="team-points" style="float:right;"> 19200 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 3</span><span class="pl-3 name"> Miller </span> <span class="team-points" style="float:right;"> 18700 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 4</span><span class="pl-3 name"> Hague Shipping </span> <span class="team-points" style="float:right;"> 18700 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 5</span><span class="pl-3 name"> Huawei Mobile </span> <span class="team-points" style="float:right;"> 17800 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 6</span><span class="pl-3 name"> Stater Bros </span> <span class="team-points" style="float:right;"> 17700 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 7</span><span class="pl-3 name"> Mobil Gas </span> <span class="team-points" style="float:right;"> 17300 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 8</span><span class="pl-3 name"> United Shipping </span> <span class="team-points" style="float:right;"> 16600 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 9</span><span class="pl-3 name"> Chevron Offshore </span> <span class="team-points" style="float:right;"> 15900 </span></div>
      <div class="list-row col-12 py-3"> <span class="pr-2" style="font-weight: bold"> 10</span><span class="pl-3 name"> Kirby Transport </span> <span class="team-points" style="float:right;"> 15400 </span></div>
  </div>

    <div class="btn btn-block row mt-5">
      <%= link_to "Next", rewards_user_path %>
    </div>
      <button class="btn btn-block home-rewards text-center"> <%= link_to "Home >>", home_path, class: "home-rewards" %></button>

    <!-- FAKE LIST -->

</div>






