<style>



  .list-row{
    border: 1px solid black;
    padding-left: 25px;
    background-color: #25C1A9;
    border-radius: 8px;
    height: 50px;
  }

  table{
    width: 90vw;
  }

  tr{
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 0 20px;
  }

  .individual-team-choice{
    height: 55px;
    width: 200px;
    background-color: #E5F7FF;
    border-radius:25px;
    border: 4px solid #25C1A9;
  }


  .individual{
    border-right:1px solid black;
  }

  .team,
  .individual{
    height: 100%;
  }


</style>

<%= render 'shared/banner' %>

<h1>Leaderboard</h1>

<!-- div class="container">
  <div class="cta-buttons">
  <a href="#" target="_blank" class="individual btn outline">
    <span class="unskew">Indivudual Rank</span>
  </a>&nbsp;
  <a href="#" target="_blank" class="team btn outline">
    <span class="unskew">Team Rank</span>
  </a>
</div>
</div> -->
<div class="container individual-team-choice">
  <div class="row justify-content-center text-center">
    <div class="col individual">
      Individual Rank
    </div>
    <div class="col team">
      Team Rank
    </div>
  </div>
</div>

<div>
  <div> <p>Your Current Points: <strong><%= @your_points %></strong></p> </div>
  <div> <p>Your Team Rank: <strong>2nd Place</strong></p></div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <table>
      <% @drivers.each_with_index do |driver, index| %>
        <tr class="list-row"> <!--  DONT USE TABLE-->
          <td><%= index + 1 %></td> <td><%= driver[:name] %></td> <td><%= driver[:points] %></td>
        </tr>
        <tr class="list-row">
          <td>2</td> <td>Barkley</td> <td>1100</td>
        </tr>
        <tr class="list-row">
          <td>3</td> <td>Darien </td> <td>900</td>
        </tr>
        <tr class="list-row">
          <td>4</td> <td>Andrew</td> <td>800</td>
        </tr>
         <tr class="list-row">
          <td>5</td> <td>Cierra Vega</td> <td>700</td>
        </tr>
        <tr class="list-row">
          <td>6</td> <td>Alden Cantrell</td> <td>700</td>
        </tr>
        <tr class="list-row">
          <td>7</td> <td>Kierra Gentry</td> <td>600</td>
        </tr>
         <tr class="list-row">
          <td>8</td> <td>Pierre Cox</td> <td>500</td>
        </tr>
        <tr class="list-row">
          <td>9</td> <td>Thomas Crane</td> <td>300</td>
        </tr>
        <tr class="list-row">
          <td>10</td> <td>Miranda Shaffer</td> <td>300</td>
        </tr>
      <% end %>
    </table>
    <div class="btn btn-block row mt-5">
      <%= link_to "Home", home_path %>
    </div>
  </div>
</div>















