<style>
  body {
    background-color: #25C1A9;
    color: white;
  }

  h2 {
    font-size: 64px;
    font-family: Comfortaa ;
  }

  .login{
    background-color: #3E505A;
    box-shadow: 2px 4px 5px #3E505A;
  }

  form{
    margin-top: 10%;
  }
  /* this styles the input boxes*/
  .form-control{
    border-radius: 6px;
    border: 2px solid #3E505A;

  }

  /*this styles the anchor tags*/
  a{
    color: white;
  }

  .safely-name{
    margin-top:7%;
  }

</style>


<div class="container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <%= image_tag("ai_logo_white.png", :style => "width: 150px; height: 150px; margin-top: 10%;" ) %>
    <h2 class="text-center safely-name text-white">Safely.ai</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "LOG IN", class: 'btn btn-lg btn-block login pt-3 pb-2 mb-3' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
