<style>
  body {
    background-color: #25C1A9;
    color: white;
  }

  h2 {
    font-size: 64px;
    font-family: Comfortaa ;
  }

  .login{
    border-radius: 20px;
    font-family: Comfortaa ;
    color: #3E505A;
    background-color:#E5F7FF;
    border: 2px solid #3E505A;
    font-size: 24px;
    box-shadow: 2px 4px 5px #3E505A;
  }

  form{
    margin-top: 20%;
  }
  /* this styles the input boxes*/
  .form-control{
    border: 2px solid black;
  }

  /*this styles the anchor tags*/
  a{
    color: white;
  }

  .safely-name{
    margin-top:30%;
  }
</style>


<div class="container">
  <h2 class="text-center safely-name text-white">Safely.ai</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "LOG IN", class: 'btn btn-lg btn-block login pt-3 pb-2 mb-3' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
